/* Background Editor */
.BG-center-container {
  display: flex;
  height: auto;
}

.BG-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  margin: auto;
}

.BG-vramgrid {
  width: fit-content;
}

.BG-spacing {
  width: 30px;
}

#BG-myModal {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.BG-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.BG-playfieldgrid{
  border: 1px solid #888;
}

.BG-modal-content {
  background-color: #FFF;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  height: auto;
}

.BG-close {
  color: #CCC;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.BG-close:hover,
.BG-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* VRAM GRID */
.BG-vramgrid {
    display: grid;    
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(16, 32px);
    gap: 0px;
    width: fit-content;
    height: fit-content;
    border: 30px solid rgb(158, 210, 144);
    border-radius: 20px;
    cursor: pointer;
}

.BG-cell,
.BG-playfieldcell {
  width: 32px;
  height: 32px;
  border: 2px solid #999;
  background-size: cover;
  box-sizing: border-box;
}

.BG-cell.no-tile {
  cursor: not-allowed;
}

.BG-cell.no-tile:hover {
  border-color: #999;
}

.selected:not(.no-tile) {
  border: 2px solid rgb(255, 157, 0);
  box-sizing: border-box;
}

.BG-cell:not(.no-tile):hover {
  border-color: rgb(0, 255, 17);
}


/* BG Map */
  li img{
    width: 100%;
    height: 100%;
  }

  #selectable .mino{
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-image: url('images/green/2F.png');
  }
  
  #selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 640px; /* 32 * 20 = 640 */
    height: 576px; /* 32 * 18 = 576 */
    border: 3px solid rgb(255, 255, 255);
  }
  
  #selectable li {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
  }
  
  li.BG-stack:hover{
    border: 3px solid rgb(0, 255, 17);
  }
 
  li.BG-mino:hover{
    border: 3px solid red;
  }

  li.BG-stack{
    cursor: pointer;
  }

  #selectable .BG-mino:hover img{
    opacity: 10%;
    background-color: rgb(0, 0, 0);
  }

  #selectable li.BG-mino.ui-selecting:hover{
    opacity: 10%;
    background-color: rgb(0, 0, 0);
  } 

  .ui-selecting img{
    opacity: 10%;
    background-color: white;
  }

.BG-stack{
    background-color: #FFF;
}