/*----------------------------------------------------------------------------------------------------------------------
/ Container Elements
/---------------------------------------------------------------------------------------------------------------------*/

/* Do not change anything unless you want to see a huge mess on the site :) */

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  overflow-x: auto;
  box-sizing: border-box;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

#wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 600px;
  padding-top: 50px;
  box-sizing: border-box;
}

.table-wrapper {
  width: 100%;
  height: 200px;
  overflow: auto;
}

/*.table-wrapper::-webkit-scrollbar, 
#modalContent::-webkit-scrollbar {
  width: 10px;
}

.table-wrapper::-webkit-scrollbar-track,
#modalContent::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-wrapper::-webkit-scrollbar-thumb,
#modalContent::-webkit-scrollbar-thumb {
  background: #888;
}

@-moz-document url-prefix() {
  .table-wrapper,
  #modalContent {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
}*/

#openModalButton {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 998;
  font-size: x-large;
  border-radius: 0%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


/*----------------------------------------------------------------------------------------------------------------------
/ Colors and Themeing
/---------------------------------------------------------------------------------------------------------------------*/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  color: #FFF;
}

.table-wrapper table {
  font-family: monospace;
  color: #333;
}

th,
td {
  border: 1px solid #CCC;
  color: #333;
}

th {
  background-color: #215;
  color: #FFF;
}

tr:nth-child(even) {
  background-color: #FFF;
}

tr:nth-child(odd) {
  background-color: #EEE;
}

td:first-child {
  font-weight: bold;
}


#log {
  background-color: #EEE;
  color: #333;
  font-family: monospace;
}

input,
textarea,
select {
  border: 1px solid #CCC;
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #333;
}

input[readonly] {
  background-color: #CCC;
  font-family: monospace;
}

button,
.custom-file-input {
  background-color: #09C;
  font-weight: bold;
  color: #FFF;
  border: none;
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

button:hover,
.custom-file-input:hover {
  background-color: #0AC;
}

button:active {
  background-color: #0BC;
}

button.secondary {
  background-color: #333;
}

button.secondary:hover {
  background-color: #777;
}

button.secondary:active {
  background-color: #AAA;
}

.hexValueCell.edited {
  background-color: #8F8;
}

.loader {
  border: 4px solid #09C;
  border-top: 4px solid #FFF;
  border-radius: 50%;
}

.custom-file-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

.accordion,
button.accordion,
.panel {
  background-color: #EEE;
  color: #444;
  font-size: 16px;
}

.accordion:hover,
button.accordion:hover,
.accordion.active {
  background-color: #CCC;
}

button.accordion {
  border: 1px solid #CCC;
}

button:disabled {
  background-color: #AAA;
}

#checksumContainer {
  color: #FFF;
  background-color: #369;
}

#modalContent {
  background-color: #FFF;
  color: #333;
}

.copyLink {
  background-color: #FC9;
  font-family: "Courier New", monospace;
  color: #333;
  text-decoration: none;
}

.copyLink:hover {
  background-color: orange;
}

.copyLink.inactive {
  background-color: #333;
  color: #CCC;
}

.copyLink.clicked,
.toast.green {
  background-color: #8F8;
}

.toast {
  color: #333;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toast.red {
  background-color: #F9D;
}

.toggle-switch label {
  background-color: #CCC;
  cursor: pointer;
}

.toggle-switch label:before {
  background-color: #FFF;
}

.toggle-switch input:checked + label {
  background-color: #8F8;
}

.tab-container {
  background-color: #09C;
  color: #FFF;
}

.tab:hover {
  background-color: #0AC;
  /*color: #CCC;*/
}

.tab.active,
.tab.active:hover {
  background-color: #215;
  color: #FFF;
}


/*----------------------------------------------------------------------------------------------------------------------
/ Page elements
/---------------------------------------------------------------------------------------------------------------------*/

/* Tables */
table{
  border-collapse: collapse;
  border-spacing: 0;
}

.table-wrapper table {
  width: 100%;
}

th, td {
  padding: 5px;
}

td.checksum {
  pointer-events: none;
  background-color: #888;
}

td.header {
  cursor: not-allowed;
  color: #777;
}

#headerData {
  width: 100%;
}

#headerData td,
#headerData th {
  padding: 5px;
  border: 1px solid #CCC;
}

td.baseAddress {
  text-align: right;
}

/* Log */
#log {
  width: 100%;
  height: 60px;
  overflow: auto;
  resize: vertical;
  box-sizing: border-box;
}

.hexValueCell {
  font-family: inherit;
  background-color: inherit;
}

/* Input */

input.four {
  width: 3em;
}

input.two {
  width: 2em;
}

input[readonly] {
  cursor: not-allowed;
}

/* Specific Styles */
#wrapper2, #loadingAnimation {
  text-align: left;
  width: 600px;
}

#patchRomName {
  width: 20em;
  text-align: right;
}

.table-wrapper #headerRow {
  position: sticky;
  top: 0;
}

/* Input Styles */
input,
textarea,
select {
  padding: 8px;
}

button {
  padding: 10px 20px;
}

/* Style for the file input */
.custom-file-input {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.custom-file-input::before {
  content: 'Choose a gb ROM File';
}

.custom-file-input::after {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before,
.custom-file-input::after,
.custom-file-input::-webkit-file-upload-button {
  display: inline-block;
  white-space: nowrap;
}

/* loading animation */
.loader {
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Accordion */
.accordion {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  outline: none;
  transition: background-color 0.1s ease;
  position: relative;
}

.accordion-symbol {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  transition: transform 0.1s ease;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease;
}

.panel.active {
  max-height: 500px;
  transition: max-height 0.1s ease;
}

.accordion, .panel, #headerData {
  width: 100%;
}

button.accordion {
  border-radius: 0;
}

button:disabled {
  cursor: not-allowed;
}

#checksumContainer {
  text-align: center;
  padding: 6px;
  border-radius: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

#globalChecksum {
  width: 4em;
}

#headerChecksum {
  width: 2em;
}

/* Modal */
#modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  transition: width 0.3s ease-out;
}

#modalContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0; /***********/
  width: 500px;
  overflow: none; /***********/
  box-sizing: border-box;
  z-index: 1;
}

/*
#modalResizeHandle {
  position: absolute;
  top: 0;
  left: -6px;
  width: 12px;
  height: 100%;
  cursor: ew-resize;
  z-index: 2;
}*/

/* Modal table */
#t_codeList {
  table-layout: fixed;
  width: 100%;
}

#t_codeList td{
  vertical-align: top;
}

#t_codeList td:first-child {
  font-weight: normal;
}

#t_desc,
#t_auth {
  width: 30%;
}

#t_code {
  width: 40%;
}

.copyLink {
  border-radius: 5px;
  text-decoration: none;
}

/* pulsate animation */

.link-animation {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    color: inherit;
    text-shadow: none;
  }
  50% {
    color: #FF0000;
    font-weight: bold;
    text-shadow: 0 0 10px #FF0000;
  }
  100% {
    color: inherit;
    font-weight: inherit;
    text-shadow: none;
  }
}

/* Toast */
.toast {
  visibility: hidden;
  width: 250px;
  max-height: 200px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  overflow: hidden;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3.0s;
  animation: fadein 0.5s, fadeout 0.5s 3.0s;
}
  
@-webkit-keyframes fadein {
  from {bottom: 60px; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
  from {bottom: 60px; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
  from {top: 60px; opacity: 1;} 
  to {top: 30px; opacity: 0;}
}
  
@keyframes fadeout {
  from {top: 60px; opacity: 1;}
  to {top: 30px; opacity: 0;}
}

/* gravity table */
#gravityTablesContainer {
  display: flex;
  justify-content: center;
}

#gravityTablesContainer table td {
  text-align: center;
  vertical-align: middle;
}

/* toggle switch */
.toggle-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  display: block;
  position: relative;
  width: 60px;
  height: 34px;
  border-radius: 34px;
}

.toggle-switch label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.toggle-switch input:checked + label:before {
  transform: translateX(26px);
}

.toggle-text {
  margin-left: 10px;
}




#modalBody {
  height: 100vh; /* Set the height to 100 viewport height */
  box-sizing: border-box;
  overflow: none;
}

.content-container {
  height: calc(100% - 40px); /* Subtract the height of .tab-container */
  flex: 1;
  box-sizing: border-box;
  overflow: none;
}

/* TABS */

.tab-group {
  display: flex;
  flex-direction: column;
}

.tab-container {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 40px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}


.tab-content {
  overflow-y: auto;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.tab-content h2 {
  margin-top: 0;
}

.tab-content p {
  margin-bottom: 0;
}

/* Custom Scrollbar Styles */
.table-wrapper::-webkit-scrollbar,
.tab-content::-webkit-scrollbar {
  width: 10px;
}

.table-wrapper::-webkit-scrollbar-track,
.tab-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-wrapper::-webkit-scrollbar-thumb,
.tab-content::-webkit-scrollbar-thumb {
  background: #888;
}

/* Rounded Scrollbars */
.table-wrapper::-webkit-scrollbar-thumb,
.tab-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover,
.tab-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@-moz-document url-prefix() {
  .table-wrapper,
  .tab-content {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  /* Rounded Scrollbars for Firefox */
  .table-wrapper,
  .tab-content {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    border-radius: 5px;
  }

  .table-wrapper::-moz-scrollbar-thumb,
  .tab-content::-moz-scrollbar-thumb {
    border-radius: 5px;
  }

  .table-wrapper::-moz-scrollbar-thumb:hover,
  .tab-content::-moz-scrollbar-thumb:hover {
    background: #555;
  }
}

#tileTable td,
#tileColors td {
  width: 32px;
  height: 32px;
}

/*#tileTable td{
  background-color: #FFF;
}*/

#tileColors td.chosen{
  border: 2px solid #8F8;
}

#col0,
.col0 {
  background-color: white;
}

#col1,
.col1 {
  background-color: #777;
}

#col2,
.col2 {
  background-color: #333;
}

#col3,
.col3 {
  background-color: black;
}

.tile {
  display: inline-block;
  margin: 3px;
  border: 2px solid grey; /* Set 2px grey border for each tile */
  cursor: pointer; /* Add cursor pointer for selection */
}

.tile.selected {
  border-color: orange; /* Change border color to orange when selected */
}

.row {
  display: flex;
}

.pixel {
  width: 4px;
  height: 4px;
}