#log{
    height: 200px; /* Set the desired height */
    width: 600px;
    overflow: auto; /* Add scrollbar when content exceeds the height */
    border: 1px solid #ccc;
    font-family: monospace;
}

.table-wrapper {
    height: 400px; /* Set the desired height */
    width: 600px;
    overflow: auto; /* Add scrollbar when content exceeds the height */
  }

  .table-wrapper table {
    width: 100%; /* Ensure the table expands to the wrapper */
    border-collapse: collapse;
    font-family: monospace;
  }

  .table-wrapper th,
  .table-wrapper td {
    border: 1px solid black;
    padding: 5px;
  }

  .table-wrapper tr:nth-child(even) {
    background-color: #fff; /* White */
  }

  .table-wrapper tr:nth-child(odd) {
    background-color: #eee; /* Light grey */
  }

  .table-wrapper #headerRow {
    background-color: #28155b; /* Light grey */
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #ffffff;
    position: sticky;
    top: 0;
  }

  .hexValueCell {
    font-family: inherit;
    background-color: inherit;
  }

  .hexValueCell.editing {
    border: 2px solid orange;
  }

  .hexValueCell.edited {
    background-color: #ffcc99; /* Light orange */
  }

  input{
    font-family: monospace;
  }

  input[readonly] {
    background-color: #eee;
  }

  input.four {
    width: 3em;
  }
  
  input.two {
    width: 2em;
  }

 #patchRomName {
    width: 20em;
    text-align: right;
  }