#log, 
#headerData{
    width: 600px;
    border: 1px solid #ccc;
}

#log{
  font-family: monospace;
  height: 100px; /* Set the desired height */
  overflow: auto; /* Add scrollbar when content exceeds the height */
}

.table-wrapper {
    border: 1px solid #ccc;
    height: 300px; /* Set the desired height */
    width: 600px;
    overflow: auto; /* Add scrollbar when content exceeds the height */
  }

  .table-wrapper table {
    width: 100%; /* Ensure the table expands to the wrapper */
    border-collapse: collapse;
    font-family: monospace;
  }

  .table-wrapper th,
  .table-wrapper td {
    border: 1px solid #ccc;
    padding: 5px;
  }

  .table-wrapper tr:nth-child(even),
  #headerData tr:nth-child(even) {
    background-color: #fff; /* White */
  }

  .table-wrapper tr:nth-child(odd), 
  #headerData tr:nth-child(odd) {
    background-color: #eee; /* Light grey */
  }

  #headerData td:first-child {
    font-weight: bold;
  }

  th{
    background-color: #28155b;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #ffffff;
  }

  .table-wrapper #headerRow {
    position: sticky;
    top: 0;
  }

  td.baseAddress {
    text-align: right;
  }

  .hexValueCell {
    font-family: inherit;
    background-color: inherit;
  }

  .hexValueCell.editing {
    border: 2px solid orange;
  }

  .hexValueCell.edited {
    background-color: #ffcc99; /* Light orange */
  }

  input{
    font-family: monospace;
  }

  input[readonly] {
    background-color: #eee;
  }

  input.four {
    width: 3em;
  }
  
  input.two {
    width: 2em;
  }

 #patchRomName {
    width: 20em;
    text-align: right;
  }